In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\javva\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\javva\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [2]:
import mysql.connector

In [82]:
mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root'
)

In [83]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000014082C4E5F0>

In [84]:
cu=mydb.cursor()

In [85]:
cu.execute('use world')

In [86]:
cu.execute('show tables')

In [87]:
res=cu.fetchall()

In [88]:
for i in res:
    print(i)

('city',)
('country',)
('countrylanguage',)

In [89]:
cu.execute('select * from city limit 10')

In [90]:
select=cu.fetchall()

In [94]:
select

[(1, 'Kabul', 'AFG', 'Kabol', 1780000),
 (2, 'Qandahar', 'AFG', 'Qandahar', 237500),
 (3, 'Herat', 'AFG', 'Herat', 186800),
 (4, 'Mazar-e-Sharif', 'AFG', 'Balkh', 127800),
 (5, 'Amsterdam', 'NLD', 'Noord-Holland', 731200),
 (6, 'Rotterdam', 'NLD', 'Zuid-Holland', 593321),
 (7, 'Haag', 'NLD', 'Zuid-Holland', 440900),
 (8, 'Utrecht', 'NLD', 'Utrecht', 234323),
 (9, 'Eindhoven', 'NLD', 'Noord-Brabant', 201843),
 (10, 'Tilburg', 'NLD', 'Noord-Brabant', 193238)]

In [93]:
cu.description

[('ID', 3, None, None, None, None, 0, 49667, 63),
 ('Name', 254, None, None, None, None, 0, 1, 255),
 ('CountryCode', 254, None, None, None, None, 0, 16393, 255),
 ('District', 254, None, None, None, None, 0, 1, 255),
 ('Population', 3, None, None, None, None, 0, 32769, 63)]

In [95]:
col_names=[i[0] for i in cu.description]

In [96]:
col_names

['ID', 'Name', 'CountryCode', 'District', 'Population']

In [97]:
r=[dict(zip(col_names,j)) for j in select]

In [98]:
r

[{'ID': 1,
  'Name': 'Kabul',
  'CountryCode': 'AFG',
  'District': 'Kabol',
  'Population': 1780000},
 {'ID': 2,
  'Name': 'Qandahar',
  'CountryCode': 'AFG',
  'District': 'Qandahar',
  'Population': 237500},
 {'ID': 3,
  'Name': 'Herat',
  'CountryCode': 'AFG',
  'District': 'Herat',
  'Population': 186800},
 {'ID': 4,
  'Name': 'Mazar-e-Sharif',
  'CountryCode': 'AFG',
  'District': 'Balkh',
  'Population': 127800},
 {'ID': 5,
  'Name': 'Amsterdam',
  'CountryCode': 'NLD',
  'District': 'Noord-Holland',
  'Population': 731200},
 {'ID': 6,
  'Name': 'Rotterdam',
  'CountryCode': 'NLD',
  'District': 'Zuid-Holland',
  'Population': 593321},
 {'ID': 7,
  'Name': 'Haag',
  'CountryCode': 'NLD',
  'District': 'Zuid-Holland',
  'Population': 440900},
 {'ID': 8,
  'Name': 'Utrecht',
  'CountryCode': 'NLD',
  'District': 'Utrecht',
  'Population': 234323},
 {'ID': 9,
  'Name': 'Eindhoven',
  'CountryCode': 'NLD',
  'District': 'Noord-Brabant',
  'Population': 201843},
 {'ID': 10,
  'Name': 'Tilburg',
  'CountryCode': 'NLD',
  'District': 'Noord-Brabant',
  'Population': 193238}]

In [16]:
type(select)

list

In [99]:
select

[(1, 'Kabul', 'AFG', 'Kabol', 1780000),
 (2, 'Qandahar', 'AFG', 'Qandahar', 237500),
 (3, 'Herat', 'AFG', 'Herat', 186800),
 (4, 'Mazar-e-Sharif', 'AFG', 'Balkh', 127800),
 (5, 'Amsterdam', 'NLD', 'Noord-Holland', 731200),
 (6, 'Rotterdam', 'NLD', 'Zuid-Holland', 593321),
 (7, 'Haag', 'NLD', 'Zuid-Holland', 440900),
 (8, 'Utrecht', 'NLD', 'Utrecht', 234323),
 (9, 'Eindhoven', 'NLD', 'Noord-Brabant', 201843),
 (10, 'Tilburg', 'NLD', 'Noord-Brabant', 193238)]

In [100]:
for i in select:
    print(i)

(1, 'Kabul', 'AFG', 'Kabol', 1780000)
(2, 'Qandahar', 'AFG', 'Qandahar', 237500)
(3, 'Herat', 'AFG', 'Herat', 186800)
(4, 'Mazar-e-Sharif', 'AFG', 'Balkh', 127800)
(5, 'Amsterdam', 'NLD', 'Noord-Holland', 731200)
(6, 'Rotterdam', 'NLD', 'Zuid-Holland', 593321)
(7, 'Haag', 'NLD', 'Zuid-Holland', 440900)
(8, 'Utrecht', 'NLD', 'Utrecht', 234323)
(9, 'Eindhoven', 'NLD', 'Noord-Brabant', 201843)
(10, 'Tilburg', 'NLD', 'Noord-Brabant', 193238)

In [19]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\javva\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\javva\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\javva\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\javva\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\javva\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [20]:
import pandas as pd

In [101]:
df=pd.DataFrame(r)

In [102]:
df

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200
5   6       Rotterdam         NLD   Zuid-Holland      593321
6   7            Haag         NLD   Zuid-Holland      440900
7   8         Utrecht         NLD        Utrecht      234323
8   9       Eindhoven         NLD  Noord-Brabant      201843
9  10         Tilburg         NLD  Noord-Brabant      193238

In [23]:
df_1=df.style.hide_index()

C:\Users\javva\AppData\Local\Temp\ipykernel_12416\3943870924.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  df_1=df.style.hide_index()

In [24]:
df_1

In [25]:
df_2=df.style.hide(axis='index')

In [26]:
df_2

In [103]:
a=df.to_json(orient='records')
a

'[{"ID":1,"Name":"Kabul","CountryCode":"AFG","District":"Kabol","Population":1780000},{"ID":2,"Name":"Qandahar","CountryCode":"AFG","District":"Qandahar","Population":237500},{"ID":3,"Name":"Herat","CountryCode":"AFG","District":"Herat","Population":186800},{"ID":4,"Name":"Mazar-e-Sharif","CountryCode":"AFG","District":"Balkh","Population":127800},{"ID":5,"Name":"Amsterdam","CountryCode":"NLD","District":"Noord-Holland","Population":731200},{"ID":6,"Name":"Rotterdam","CountryCode":"NLD","District":"Zuid-Holland","Population":593321},{"ID":7,"Name":"Haag","CountryCode":"NLD","District":"Zuid-Holland","Population":440900},{"ID":8,"Name":"Utrecht","CountryCode":"NLD","District":"Utrecht","Population":234323},{"ID":9,"Name":"Eindhoven","CountryCode":"NLD","District":"Noord-Brabant","Population":201843},{"ID":10,"Name":"Tilburg","CountryCode":"NLD","District":"Noord-Brabant","Population":193238}]'

In [28]:
type(a)

str

In [29]:
import json

In [104]:
b=json.loads(a)

In [105]:
b

[{'ID': 1,
  'Name': 'Kabul',
  'CountryCode': 'AFG',
  'District': 'Kabol',
  'Population': 1780000},
 {'ID': 2,
  'Name': 'Qandahar',
  'CountryCode': 'AFG',
  'District': 'Qandahar',
  'Population': 237500},
 {'ID': 3,
  'Name': 'Herat',
  'CountryCode': 'AFG',
  'District': 'Herat',
  'Population': 186800},
 {'ID': 4,
  'Name': 'Mazar-e-Sharif',
  'CountryCode': 'AFG',
  'District': 'Balkh',
  'Population': 127800},
 {'ID': 5,
  'Name': 'Amsterdam',
  'CountryCode': 'NLD',
  'District': 'Noord-Holland',
  'Population': 731200},
 {'ID': 6,
  'Name': 'Rotterdam',
  'CountryCode': 'NLD',
  'District': 'Zuid-Holland',
  'Population': 593321},
 {'ID': 7,
  'Name': 'Haag',
  'CountryCode': 'NLD',
  'District': 'Zuid-Holland',
  'Population': 440900},
 {'ID': 8,
  'Name': 'Utrecht',
  'CountryCode': 'NLD',
  'District': 'Utrecht',
  'Population': 234323},
 {'ID': 9,
  'Name': 'Eindhoven',
  'CountryCode': 'NLD',
  'District': 'Noord-Brabant',
  'Population': 201843},
 {'ID': 10,
  'Name': 'Tilburg',
  'CountryCode': 'NLD',
  'District': 'Noord-Brabant',
  'Population': 193238}]

In [32]:
type(b)

list

In [33]:
b[0]

{'ID': 1,
 'Name': 'Kabul',
 'CountryCode': 'AFG',
 'District': 'Kabol',
 'Population': 1780000}

In [34]:
!pip install confluent_kafka

Requirement already satisfied: confluent_kafka in c:\users\javva\anaconda3\lib\site-packages (2.1.0)

In [35]:
from confluent_kafka import Producer

In [106]:
def login_info():
    info={
        'bootstrap.servers':'pkc-lzvrd.us-west4.gcp.confluent.cloud:9092',
        'security.protocol':'SASL_SSL',
        'sasl.mechanism':'PLAIN',
        'sasl.username':'P3FP4JOSTVZS2XWF',
        'sasl.password':'j4N3yUaVe6y6oRsie5upI3isMePZKRD3C7dozvKSu35DBe12nnIj6XUd9JUIbvZp',
        'partitioner':'consistent_random'

    }
    return info

In [107]:
p=Producer(login_info())

In [108]:
print(p.list_topics().topics)

{'test': TopicMetadata(test, 3 partitions)}

In [109]:
import random

In [110]:
index=random.randint(0,len(b)-1)
index

9

In [111]:
msg=[]
for j in range(0,len(b)):
    print(j)
    msg.append(b[j])

msg

0
1
2
3
4
5
6
7
8
9

[{'ID': 1,
  'Name': 'Kabul',
  'CountryCode': 'AFG',
  'District': 'Kabol',
  'Population': 1780000},
 {'ID': 2,
  'Name': 'Qandahar',
  'CountryCode': 'AFG',
  'District': 'Qandahar',
  'Population': 237500},
 {'ID': 3,
  'Name': 'Herat',
  'CountryCode': 'AFG',
  'District': 'Herat',
  'Population': 186800},
 {'ID': 4,
  'Name': 'Mazar-e-Sharif',
  'CountryCode': 'AFG',
  'District': 'Balkh',
  'Population': 127800},
 {'ID': 5,
  'Name': 'Amsterdam',
  'CountryCode': 'NLD',
  'District': 'Noord-Holland',
  'Population': 731200},
 {'ID': 6,
  'Name': 'Rotterdam',
  'CountryCode': 'NLD',
  'District': 'Zuid-Holland',
  'Population': 593321},
 {'ID': 7,
  'Name': 'Haag',
  'CountryCode': 'NLD',
  'District': 'Zuid-Holland',
  'Population': 440900},
 {'ID': 8,
  'Name': 'Utrecht',
  'CountryCode': 'NLD',
  'District': 'Utrecht',
  'Population': 234323},
 {'ID': 9,
  'Name': 'Eindhoven',
  'CountryCode': 'NLD',
  'District': 'Noord-Brabant',
  'Population': 201843},
 {'ID': 10,
  'Name': 'Tilburg',
  'CountryCode': 'NLD',
  'District': 'Noord-Brabant',
  'Population': 193238}]

In [112]:
def delivery_status(err,msg):
    if err:
        print(f'Message failed to deliver due to the following error {str(err)}')
    else:
        print(f'The Message has been delivered successfully {msg.value()}. Partition-->{msg.partition()} at the Offset--->{msg.offset()}')
        print(f'The following messages are pushed to Topic--->{msg.topic()}')

In [132]:
try:
    for j in range(0,len(b)):
        msg=b[j]
        p.poll(1.0)
        p.produce(topic='topic_1',value=str(msg).encode('utf-8'),on_delivery=delivery_status)
except er as Exception:
    print('The following error was failed due to the error-->',er)
print('Flushing records')

p.flush()

The Message has been delivered successfully b"{'ID': 1, 'Name': 'Kabul', 'CountryCode': 'AFG', 'District': 'Kabol', 'Population': 1780000}". Partition-->1 at the Offset--->14
The following messages are pushed to Topic--->topic_1
The Message has been delivered successfully b"{'ID': 2, 'Name': 'Qandahar', 'CountryCode': 'AFG', 'District': 'Qandahar', 'Population': 237500}". Partition-->1 at the Offset--->15
The following messages are pushed to Topic--->topic_1
The Message has been delivered successfully b"{'ID': 3, 'Name': 'Herat', 'CountryCode': 'AFG', 'District': 'Herat', 'Population': 186800}". Partition-->0 at the Offset--->19
The following messages are pushed to Topic--->topic_1
The Message has been delivered successfully b"{'ID': 4, 'Name': 'Mazar-e-Sharif', 'CountryCode': 'AFG', 'District': 'Balkh', 'Population': 127800}". Partition-->0 at the Offset--->20
The following messages are pushed to Topic--->topic_1
The Message has been delivered successfully b"{'ID': 5, 'Name': 'Amsterdam', 'CountryCode': 'NLD', 'District': 'Noord-Holland', 'Population': 731200}". Partition-->0 at the Offset--->21
The following messages are pushed to Topic--->topic_1
The Message has been delivered successfully b"{'ID': 6, 'Name': 'Rotterdam', 'CountryCode': 'NLD', 'District': 'Zuid-Holland', 'Population': 593321}". Partition-->1 at the Offset--->16
The following messages are pushed to Topic--->topic_1
The Message has been delivered successfully b"{'ID': 7, 'Name': 'Haag', 'CountryCode': 'NLD', 'District': 'Zuid-Holland', 'Population': 440900}". Partition-->2 at the Offset--->17
The following messages are pushed to Topic--->topic_1
The Message has been delivered successfully b"{'ID': 8, 'Name': 'Utrecht', 'CountryCode': 'NLD', 'District': 'Utrecht', 'Population': 234323}". Partition-->1 at the Offset--->17
The following messages are pushed to Topic--->topic_1
The Message has been delivered successfully b"{'ID': 9, 'Name': 'Eindhoven', 'CountryCode': 'NLD', 'District': 'Noord-Brabant', 'Population': 201843}". Partition-->1 at the Offset--->18
The following messages are pushed to Topic--->topic_1
Flushing records
The Message has been delivered successfully b"{'ID': 10, 'Name': 'Tilburg', 'CountryCode': 'NLD', 'District': 'Noord-Brabant', 'Population': 193238}". Partition-->1 at the Offset--->19
The following messages are pushed to Topic--->topic_1

0

In [48]:
from confluent_kafka import Consumer

In [114]:
def login_info():
    info={
        'bootstrap.servers':'pkc-lzvrd.us-west4.gcp.confluent.cloud:9092',
        'security.protocol':'SASL_SSL',
        'sasl.mechanism':'PLAIN',
        'sasl.username':'P3FP4JOSTVZS2XWF',
        'sasl.password':'j4N3yUaVe6y6oRsie5upI3isMePZKRD3C7dozvKSu35DBe12nnIj6XUd9JUIbvZp',
        'partitioner':'consistent_random',
        'group.id':'testing',
        'auto.offset.reset':'earliest'

    }
    return info

In [115]:
c=Consumer(login_info())

In [116]:
print(c.list_topics().topics)
d=c.list_topics().topics

{'test': TopicMetadata(test, 3 partitions)}

In [117]:
topic='test'

In [118]:
c.subscribe([topic])